/* 
    Document   : dashboard
    Created on : 31 Dec, 2011, 3:55:14 PM
    Author     : ankur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


.logContainer
{
	margin-top:20px;
    
    height:400px;
    max-width: 100%;
    background-color: #1C1C1C;
    overflow: auto;
}
.error {
    font-family: Lucida Console;
    line-height: 25px;
    font-size: 13px;
    color: red;
}
.warning {
    font-family: Lucida Console;
    line-height: 25px;
    font-size: 13px;
    color: yellow;
}
.log {
    font-family: Lucida Console;
    line-height: 25px;
    font-size: 13px;
    color: green;
}