<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    
        
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./css/bootstrap.css">
        <link rel="stylesheet" href="./css/dashboard.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js" ></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js" ></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" ></script>

        <script src="./js/jquery-1.7.js"></script>
        <script src="./js/underscore-1.js"></script>
        <script src="./js/backbone.js"></script>
        <script src="./js/amplify.min.js"></script>
        
        <script src="./js/bootstrap-dropdown.js"></script>
        <script src="./js/bootstrap-tabs.js"></script>
        <script src="./js/dashboard.js"></script>
        <script src="./js/widgets/logApp1.js"></script>
        
        
    </head>
    <body>
        
        <div id="topbar-example" class="topbar" data-dropdown="dropdown">
          <div class="topbar-inner">
            <div class="container">
              <h3><a href="#">Debuggify</a></h3>

            
            <ul class="tabs">
                <li class="active"><a href="#home">ALL</a></li>
                <li>
                    <a href="#profile">Filter1<img src="./images/icon_close_light.png" width="13" height="14"></img></a>
                </li>
                <li><a href="#messages">Filter2</a></li>
                <li><a href="#settings">Filter3</a></li>
            </ul>

              <ul class="nav secondary-nav">    
                <li class="menu">
                  <a href="#" class="menu">Project</a>
                  <ul class="menu-dropdown">
                    <li><a href="#">Project1</a></li>
                    <li><a href="#">Project2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Create New</a></li>
                  </ul>
                </li>

                <li class="menu">
                  <a href="#" class="menu">Username</a>
                  <ul class="menu-dropdown">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Help</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div id="container" class="container-fluid">
            
            <div class="sidebar">
                </br>
                <div id="showfilter"></div>
            </div>
            
            <div id="logapp" class="content">
                <div id="showlog" class="logContainer"></div>
            </div>
        </div>
        
        <!-- Templates -->
        <script type="text/template" id="filterModel-template">
            <div>

                <input class="search-input" type="text" placeholder="Search">
                
                <label>Select Modules</label>
                <div class="input">
                    <select class="medium" size="5" multiple="multiple" name="multiSelect" id="multiSelect">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>
                </br>
                
                <div class="inline-inputs">
                    <p>
                        <input class="small" type="text" placeholder="From" value="<%= from %>">
                    </p>
                    <p>
                        <input class="small" type="text" placeholder="To" value="<%= to %>">
                    </p> 
              </div>
                
            <div class="input messageType">
            </div>
                
        </div>
        </script>
        <script type="text/template" id="messageTypeCollection-template">
            <ul class="inputs-list">
            </ul>
        </script>
        
        <script type="text/template" id="messageTypeModel-template">
            <li>
                <label>
                  <input type="checkbox" name="messageTypes" value="<%= name %>" <% if(enable){ %> checked="checked" <% } %> >
                <span><%= title %></span>
              </label>
            </li>
        </script>
        
        <script type="text/template" id="logModel-template">
                <div class="<%= type %>">
                    <div class="ip" style="display: inline">[<%= timestamp %>]</div>
                    <div class="<%= type %>" style="display: inline"><%= message %></div>
                    <div class="ua" style="display: inline"><%= userAgent %></div>
                    <div class="platform" style="display: inline"><%= platform %></div>
                 </div>
         </script>

         <script type="text/template" id="log-stats-template">
            <div>Stats are as follows</div>
                <label><b><input type="checkbox" id="tobottom" name="tobottom" value="true" checked/>UnCheck to prepend</b></label>
         </script>
       
        <script type="text/javascript">
//            $('#topbar').dropdown();
               $(function () {
                $('.tabs').tabs()
              })
        </script>
        
    </body>
</html>
